# Copy to .env and fill in values. Optional for local run; needed for RAG and Gurobi.
OPENAI_API_KEY=
BIOPORTAL_API_KEY=
OPENFDA_API_KEY=
MEDLINE_PRIMARY=europepmc
MEDLINE_BASE_URL=https://www.ebi.ac.uk/europepmc/webservices/rest
MEDLINE_API_KEY=not_required_for_europepmc
NCBI_API_KEY=
NCBI_BASE_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils
EUROPE_PMC_BASE_URL=https://www.ebi.ac.uk/europepmc/webservices/rest
RXNORM_BASE_URL=https://rxnav.nlm.nih.gov/REST
RXNORM_API_KEY=not_required
GUROBI_LICENSE_FILE=not_required_for_wls
WLSACCESSID=
WLSSECRET=
LICENSEID=
